

/*===============================================================
	BANNER DONATION
=================================================================*/

.banner-donation{
  background:url("../images/banner_background.jpg");
  background-size:cover;
  background-position: center;
  padding: 8rem 0;

  .btn {
    font-size: 1rem;
  }

  &__title{
    margin: 0;
    padding-bottom:2rem;
    color: $white;
    font-weight:bold;
    font-size:2rem;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.8);
  }//FIN TITLE

  @media screen and (max-width: $mobile){
    a {
      margin-top: 1rem;
    }
  }
}//FIN BANNER DONATION