

/*===============================================================
	BANNER DONATION
=================================================================*/

.banner-donation{
  background:url("../images/banner_background.jpg");
  background-size:cover;
  background-attachment: fixed;
  background-position: center 160px;
  padding: 8rem 0;

  .btn {
    width: 20%;
    text-transform: uppercase;
    font-size: 1rem;
  }

  &__title{
    margin: 0;
    padding-bottom:2rem;
    color: $white;
    font-weight:bold;
    font-size:2rem;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.8);
  }//FIN TITLE
}//FIN BANNER DONATION