

/*===============================================================
	FOOTER
=================================================================*/

footer{
	background: $second-color;
}

.footer{
	padding:1rem 0;
	text-align: center;
	position: relative;
	@media screen and (min-width: $mobile){
		a:first-child img {
			margin-right: 2rem;
		}
	}
}