



/*---------------------------------------------------------------
	$botones
-----------------------------------------------------------------*/

.btn{
	color: #fff;
	cursor: pointer;
	border: none;
	transition: all .3s ease;


	&-primary{
		background: $base-color;
	}

}//FIN BUTTON

