



/*---------------------------------------------------------------
	$botones
-----------------------------------------------------------------*/

.btn{
	background:$base-color;
	color: #fff;
	cursor: pointer;
	border: none;
	transition: all .3s ease;

	&:hover{
		background:darken($base-color,5);
		color: #fff;
	}

	&:focus{
		background:$base-color;
		color: #fff;
	}
	
}

